.todo {
    &__header {
        width: 30rem;
        height: 4rem;
        background-color: #076391;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}